@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,600&display=swap');

:root {
    --white: #fff;
    --beige: #fff2c2;
    --dark-blue: #00509d;
    --light-blue: #5e8abd;
    --dark-yellow: #DFAE00;
    --light-yellow: #ffd500;
    --lighter-blue: #EFF8FF;
    --light-grey: rgb(221, 221, 221);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 56px 0;
}

li {
    list-style: none;
    margin-left: 20px;   
}

.blue {
    color: var(--dark-blue);
}


button {
    background: none;
    border: none;
}

img {
    width: 100%;
}

h1 {
    font-size: 56px;
    color: var(--dark-blue);
    margin-bottom: 18px;
}

h2 {
    font-size: 36px;
}

h1, h2, h3, h4, h5, h6, span  {
    text-align: center;
    line-height: 1.25;
}

.btn__style {
    font-size: 20px;
    background: var(--dark-blue);
    color: var(--light-yellow);
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn__style:hover {
    color: var(--beige);
    border: 2px solid var(--dark-blue);
}

.icon {
    font-size: 40px;
    color: var(--light-yellow);
}
p {
    line-height: 1.5;
}
.btn__menu {
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    display: none;
}
.btn__icon, .book__title--link, .books__header--title, .book__link, .book__selected--title--top, .book__selected--title, .cart__title, .cart__empty--header {
    color: var(--dark-blue);
}



.menu__backdrop {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    /*
    alternative to cover everything
     width: 100vw;
    height: 100vh; */
    /* background: rgba(0, 80, 157, 0.7); */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

/* .menu--open .menu_backdrop {
    visibility: visible;
    opacity: 1;
} */

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8;
}

.menu__link {
    color: var(--dark-blue);
    font-size: 24px;
    transition: all 300ms ease;
    font-weight: 700;
}
.menu__link:hover {
    color: var(--dark-yellow);
}

.menu__list {
    padding: 32px 0;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 

NAVIGATION SECTION

*/
.nav_logo--img {
    height: 180px;
    width: 100%;
}

nav {
    height: 80px;
    display: flex;
    padding: 12px 24px;
    background-color: var(--lighter-blue);
}

.nav__container {
    display: flex;
    width: 100%; 
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav__links {
    display: flex;
}

.nav__link:hover {
   border: 2px solid var(--dark-blue);
    color: var(--light-yellow);
}

.nav__link {
    font-size: 20px;
    color: var(--dark-blue);
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 300ms ease;
    position: relative;
}

.nav__link--primary {
    background: var(--dark-blue);
    color: var(--light-yellow);
}

.nav__link--primary:hover {
    color: var(--beige);
}

#landing {
    background: var(--lighter-blue);
    padding-top: 100px;
}

.no-cursor {
    cursor: not-allowed;
}

.cart__length {
    background-color: red;
    color: white;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 4px; 
    right: -4px;
    pointer-events: none; 
  }
  

/* 

HEADER

*/

header {
   /* margin-top: 100px; */
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.header__description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}
.header_description--subtitle {
    margin: 20px 0;
}

.header_img--wrapper {
    padding: 20px;
    z-index: 2;
}

/* 
HIGHLIGHTS
 */

 #highlights {
     position: relative;
     max-width: 100vw;
 }
 #highlights::before, #highlights::after {
     background: url('./assets/wave.svg');
     content: "";
     position: absolute;
     width: 101vw;
     height: 12vw;
     left: 0;
     z-index: 1;
     background-size: cover;
     background-repeat: no-repeat;
 }

 #highlights::before {
     top: 1px;
     transform: translateY(-100%);

 }

 #highlights::after {
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
 }

.highlight__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    padding: 0 24px;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px 0;
}

.highlight__img {
    border: 2px solid var(--dark-blue);
    padding: 20px;
    background: ;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.highlight__subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.highlight__para {
    text-align: center;
    max-width: 280px;
}

/* 

FEATURES
features
*/

#features {
    background: var(--lighter-blue);
    padding-top: 8vw;
}
.books {
    display: flex;
    flex-wrap: wrap;
}
.book {
    width: 25%;
    padding: 24px;
}

.book__img--wrapper {
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 12px;
    display: flex;
    box-shadow: 12px 20px 23px rgb(218, 218, 218);
}
.book:hover .book__img {
    transform: scale(1.03);
}

.book__img {
    max-height: 380px;
    transition: all 300ms ease;
    cursor: not-allowed;
    /* height: 380px; */
    object-fit: contain;
    object-position: center;
}

.book__title {
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 24px;
    margin-top: 24px;

}
.book__title:hover {
    text-decoration: underline;
    cursor: not-allowed;
}
.book__rating {
    font-size: 16px;
    margin: 12px 0;
}
.book__price--normal {
    text-decoration: line-through;
    padding-right: 6px;
    color:rgb(182, 182, 182);
}

/*

BOOK SKELETON

*/

.book__img--skeleton {
  width: 100%;
  max-width: 250px;
  height: 320px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
  border-radius: 20px;
}

.skeleton {
  background-color: rgb(227, 227, 227) !important;
  margin-bottom: 8px;
}

.book__title--skeleton {
  height: 21px;
  width: 100%;
  border-radius: 20px;
  max-width: 250px;
}

.book__rating--skeleton {
  width: 100px;
  height: 19px;
  border-radius: 20px;
}

.book__price--skeleton {
  width : 200px;
  height: 19px;
  border-radius: 20px;
}

/* 

EXPLORE

*/

#explore, .App{
    background-color: var(--lighter-blue);
}
/* 
#explore .row {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.section__title {
    margin-bottom: 24px;
}

/* BOOKS */
#books__body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #books__main {
    flex: 1;
  }
  
  .books__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }
.books__header--title {
    margin: 24px 0;
}

select {
    background: var(--white);
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: var(--dark-blue);
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
}

/* 

FOOTER

*/

footer {
    background: var(--dark-blue);
}

.footer__logo--img {
    width:180px;
}

.footer__link, .footer__copyright {
    color: var(--white);
}

.footer__logo {
    display: flex;
}

.footer__list {
    margin-top: -20px;
    margin-bottom: 12px;
    
}
.footer__link {
padding: 0 8px;
}

.footer__link:hover {
    text-decoration: underline;
}


/* 

  book/:id
    
*/

.container__book--selected {
    padding-top: 16px;
  }
  
  .book__selected {
    display: flex;
    margin-bottom: 32px;
  }
  
  .book__selected--figure {
    width: 40%;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .book__selected--img {
    max-height: 500px;
    width: auto;
    max-width: 100%;
  }
  
  .book__selected--description {
    width: 60%;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .book__selected--top {
    padding: 0 24px;
    margin-bottom: 8px;
    font-size: 32px;
    color: #242424;
    display: flex;
    align-items: center;
  }


  
  .book__selected--link {
    color: #242424;
  }
  
  .fa-arrow-left {
    font-size: 30px;
  }
  
  .book__selected--title--top {
    margin-left: 10px;
    margin-bottom: 0;
    color: var(--dark-blue);
    font-size: 28px;
  }
  
  .book__summary {
    margin-bottom: 16px;
  }
  
  .book__selected--title {
   
    margin-bottom: 8px
  }
  
  .book__summary--title {
    text-align: left;
    margin-bottom: 8px;
  }
  
  .book__summary--para {
    margin-bottom: 16px;
  }
  
  .book__price {
    font-size: 16px;
    margin: 8px 0 24px 0;
  }
  
  .link__breadcrumbs {
    color: #bfbfbf;
    margin-bottom: 16px;
  }
  
  /* 
  
    CART 
      
  */
  
  .cart__header {
    background-color: var(--dark-blue);
    margin: 0 24px;
    padding: 8px 16px;
    color: var(--light-yellow);
    display: flex;
    border-radius: 20px;
    font-weight:700;
  }
  
  .cart__item {
    margin: 24px;
    display: flex;
    padding-right: 8px;
  }
  
  .cart__title {
    margin-bottom: 16px;
  }
  
  .cart__book {
    width: 60%;
    display: flex;
  }
  
  .cart__quantity {
    width: 40%;
    display: flex;
    align-items: center;
  }
  
  .cart__total {
    width: 100%;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
  }
  
  .cart__input {
    padding: 8px;
    width: 60px;
  }
  
  .cart__book--img {
    width: 100%;
    max-width: 90px;
    max-height: 128px;
    border-radius: 10px;
  }
  
  
  .cart__book--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
  }
  
  .cart__book--title {
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .cart__book--price {
    text-align: left;
    margin-bottom: 16px;
  }
  
  .cart__book--remove {
    background-color: transparent;
    color: #cf0000;
    border: none;
    padding-left: 0;
    width: 48px;
    transition: all 300ms ease;
    cursor: pointer;
  }

  .cart__book--remove:active {
    transform: scale(0.9)
  }
  
  .total {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 24px;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    font-size: 16px;
  }
  
  .total__item {
    font-size: 18px;
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .total__sub-total {
    border-top: 2px solid var(--dark-blue);
    padding-top: 24px;
  }
  
  .total__price {
    font-weight: bold;
  }
  
  .cart__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  
  .cart__empty--img {
    padding: 40px;
    max-width: 400px;
  }
  
  .btn__checkout {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
  }
  
  /* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
  @media (max-width: 768px) {
    .header__description {
      padding: 0 24px;
    }
  
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 26px;
    }
  
    button {
      font-size: 18px;
    }
  
    .book {
      width: 50%;
    }
  
    .book__selected {
      flex-direction: column;
    }
    .book__selected--figure {
      width: 100%;
      justify-content: center;
    }
    .book__selected--description {
      width: 100%;
    }
  }
  


/* 

SMALL PHONES, TABLETS, LARGE SMARTPHONES 

*/
@media only screen and (max-width: 768px) {
    .header__description {
        padding: 0 24px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }
    .btn__style {
        font-size: 16px;
    }
    .book {
        width: 50%;
    }
    .book__title {
        font-size: 18px;
    }



}



/* SMALL PHONES, LARGE SMARTPHONES */

@media only screen and (max-width:550px) {
    .nav__list {
        display: none;
    }
    .btn__menu {
        display: block;
    }
    .menu--open .menu__backdrop {
        visibility: visible;
        opacity: 1;
    }
    .highlight {
        width: 100%;
    }

}